<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
    <link href="/css/styles-editProduct.css" rel="stylesheet">
    <link href="/css/styles-createProduct.css" rel="stylesheet">
</head>

<body>
    <header>
        <%- include ('../partials/header') %>
    </header>

    <main>
        <h3 class="forms-subTitle">Usted a ingresado como administrador del sitio</h3><br>

        <h3 class="forms-subTitle">Página de modificación de productos</h3><br><br><br>
        
        
        <form action="/modificar-producto/<%=products.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        
        <div class="artBox">
            <div class="imgProduct">
                <img src="/img/<%=products.img%>" class="mainProductImg" width="200">
            
            </div>

            <br><br>
            <div class="middleBox">

                <div class="artTitle">
                    <h3>Marca: </h3><input type="text" name="brand" id="brand" minlength="2" value="<%=products.brand%>" class="inputText">
                </div>

                <div class="artTitle">
                    <h3>Modelo: </h3><input type="text" name="model" id="model" minlength="2" value="<%=products.model%>" class="inputText">
                </div>

                <div class="artTitle">
                    <h3>Medidas: </h3><input type="text" name="measures" id="measures" minlength="2" value="<%=products.measures%>" class="inputText">
                </div>

                <div class="artTitle">
                    <h3>Precio: </h3><input type="text" name="price" id="price" value="<%=products.price%>" class="inputText" size="6">
                </div>

                <div class="artTitle">
                    <h3>Descuento: </h3><input type="text" name="discount" id="discount" value="<%=products.discount%>" class="inputText" size="6">
                </div>

                <div class="artTitle">
                    <h3>Disponibilidad:  </h3><input type="text" name="availability" id="availability" value="<%=products.availability%>" class="inputText" size="6">
                </div>

            </div>

            <div class="artTitle">
                <h3>Categoria: </h4><br>
                    <input type="radio" id="category" name="category" value="true"
                    <% if (products.category == "in-sale") { %>checked<% } %>>
                    <label for="in-sale">En oferta</label><br>
                    <input type="radio" id="category" name="category" value="false"
                    <% if (products.category == "none") { %>checked<% } %>>
                    <label for="none">Sin oferta</label><br>
            </div>

            <br><br>

            <div class="artDetail">
                <span>Descripción principal del producto:</span> <textarea class="textarea" id="description" name="description"><%=products.description%></textarea>
            </div>


            <div class="artDetail">
                <span>Descripción secundaria del producto:</span> <textarea class="textarea" id="subDescription" name="subDescription"><%=products.subDescription%></textarea>
            </div>

            <div class="photoBox">
                <label for="img"><b>Foto principal del producto: </label></b><br>
                <input type="file" accept=".jpg, .png, .jpeg" name="img" id="img">
            </div><br>
    
        

            <div class="artButtonBox">
                <input type="submit" class="artButton" value="Modificar producto" onclick="return confirm('¿Estás seguro que deseas modificar este producto?');">
            </div>

            <div class="artButtonBox">
                <input type="reset" class="artButton" value="Reestablecer formulario">
            </div>

            <div class="artButtonBox">
                <button class="artButton"><a href="/eliminar-producto/<%=products.id%>"><label class="linkButton">Eliminar producto</label></button></a>
            </div>
        </div>

        </form>

        <br>

    </main>

    <footer>
        <%- include ('../partials/footer') %>
    </footer>

</body>

</html>