<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
    <link href="css/styles-productCart.css" rel="stylesheet">
</head>

<body>
    <header>
        <%- include ('../partials/header') %>
    </header>

    <main>
      <h3 class="forms-subTitle">Lista de productos</h3><br>

      <div class="productsBox">
          <div class="boxTitle">
              Productos listados por ID
          </div>



      <div class="itemsColumn">

        <% products.forEach(product => { %>

          <div class="item1">
              <div class="image">
                <img src="/img/<%=product.img%>" alt="productImg" width="150" />
              </div>
        
              <div class="description">
                <span>ID: <%=products.id%></span><br>
                <span>Marca: <%=products.brand%></span><br>
                <span>Modelo: <%=products.model%></span><br>
                <span>Medidas: <%=products.measures%></span><br>
                <span>Precio: <%=products.price%></span>
              </div><br>
        
              <div class="product-removal">
                <a href="/modificar-producto/<%=products.id%>">
                <button class="formsButtonShowProducts">
                  Modificar
                </button>
                </a>
              </div><br>
          </div>

        <% }) %>
          
      </div>

      </div>

        <div class="banner">
            <img src="img/bannerDunlop.png" class="bannerDunlop" alt="bannerDunlop">
        </div>
    </main>
    <footer>
        <%- include ('../partials/footer') %>
    </footer>

</body>

</html>