<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('../partials/head') %>
    <link href="css/styles-productCart.css" rel="stylesheet">
</head>

<body>
  <header>
    <%- include ('../partials/header') %>
  </header>

  <main>
    <h3 class="forms-subTitle">Lista de productos</h3><br>

    <div class="productsBox">
      <div class="boxTitle">
        Mira aca todos nuestros neumaticos
      </div>



      <div class="itemsColumn">

        <% products.forEach(product=> { %>

          <div class="item1">
            <div class="image">
              <img src="/img/<%=product.img%>" alt="productImg" width="150" />
            </div>

            <div class="description">
              <span>Marca: <%=product.brand%></span><br>
              <span>Modelo: <%=product.model%></span><br>
              <span>Medidas: <%=product.measures%></span><br>
              <span>Precio: <%=product.price%></span>
            </div><br>
            <% if (userIsLogged) { %>
              <div class="product-removal">
                <a href="/mis-compras">
                  <button class="formsButtonShowProducts">
                    Comprar
                  </button>
                </a>
              </div><br>
              <% } else { %>


                <div class="product-removal">
                  <a href="/ingresar">
                    <button class="formsButtonShowProducts">
                      Ingresa para comprar!
                    </button>
                  </a>
                </div><br>
                <% } %>
          </div>

          <% }) %>

      </div>

    </div>

    <div class="banner">
      <img src="img/bannerDunlop.png" class="bannerDunlop" alt="bannerDunlop">
    </div>
  </main>
  <footer>
    <%- include ('../partials/footer') %>
  </footer>

</body>

</html>