<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
    <link href="css/styles-productCart.css" rel="stylesheet">
</head>

<body>
    <header>
        <%- include ('../partials/header') %>
    </header>

    <main>
    <h3 class="forms-subTitle">Perfil de usuario</h3><br>

    <div class="productsBox">
        <div class="boxTitle">
            Datos del usuario
        </div>



        <div class="itemsColumn">

            <div class="item1">
        
                <div class="description">
                    <span>Nombre: <%=userin.name%></span><br>
                    <span>Apellido: <%=userin.lastName%></span><br>
                    <span>EMail: <%=userin.email%></span><br>
                    <span>Dirección: <%=userin.adress%></span><br>
                    <span>Ciudad: <%=userin.city%></span><br>
                    <span>País: <%=userin.country%></span><br>
                    <span>Código Postal: <%=userin.postalcode%></span><br>
                    <span>Teléfono: <%=userin.phone%></span>
                </div><br>
        
                <div class="product-removal">
                    <a href="/modificar-usuario">
                    <button class="formsButtonShowProducts">
                    Modificar 
                    </button>
                    </a>
                </div><br>
                <div class="product-removal">
                    <a href="/">
                    <button class="formsButtonShowProducts">
                    Pagina principal
                    </button>
                    </a>
                </div><br>

                
                <div class="product-removal">
                    <a href="/salir">
                    <button class="formsButtonShowProducts">
                    Cerrar sesion
                    </button>
                    </a>
                </div><br>
                
            </div>
        </div>
    </div>

        <div class="banner">
            <img src="img/bannerDunlop.png" class="bannerDunlop" alt="bannerDunlop">
        </div>
    </main>
    <footer>
        <%- include ('../partials/footer') %>
    </footer>

</body>

</html>